.admin-page-container {
  min-height: 100vh;
  background-color: var(--color-bg); /* Reemplaza #121212 */
  color: var(--color-text-primary);  /* Reemplaza #fff */
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

.navbar,
.sidebar {
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

a:hover {
  color: var(--color-secondary);
}

button {
  background-color: var(--color-accent);
  color: var(--color-text-light);
}
