@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  
}

.footer {
  background-color: #2C3E50;
  color: #F5F5F5;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
  width: calc(100% - 220px);
  margin-left: 220px; /* espacio para el sidebar */
}

